HELP.md
target/
build/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDEs
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

# Local config/secrets
.env
.env.*
!.env.example
application-local.properties
application-local.yml

src/main/resources/*.pem